.inicio {
	.dadosIniciais {
		picture {
			img {
				width: 100px;
				display: block;
				margin: 0 auto;
			}
		}
		h1 {
			span {
				color: #fff;
				-webkit-animation: pisca 1s alternate infinite linear;
				animation: pisca 1s alternate infinite linear;
			}
		}
		a {
			text-decoration: none;
			color: @txtDefaultColor;
			display: inline;
			margin-bottom: 5px;

			svg {
				path {
					fill: @txtDefaultColor;
				}
			}
		}
		p {
			svg {
				path {
					fill: @txtDefaultColor;
				}
			}
		}
		aside {
			a {
				font-size: 2em;
				padding: 10px;
				display: inline-block;

				svg {
					width: 30px;
					height: 30px;

					path {
						fill: #fff;
						transition: all .4s;

					}
				}

				&.canal {
					&:hover {
						svg {
							path {
								fill: #cc181e;
							}
						}
					}
				}
				&.github {
					&:hover {
						svg {
							path {
								fill: #444;
							}
						}
					}
				}
				&.linkedin {
					&:hover {
						svg {
							path {
								fill: #008cc9;
							}
						}
					}
				}
				&.twitter {
					&:hover {
						svg {
							path {
								fill: #55acee;
							}
						}
					}
				}
				&.blog {
					svg {
						path {
							fill: @titleColor;
						}
					}
					&:hover {
						svg {
							path {
								fill: #fff;
							}
						}
					}
				}
				&.canal {
					svg {
						path {
							fill: #cc181e;
						}
					}
					&:hover {
						svg {
							path {
								fill: #fff;
							}
						}
					}
				}
				&.tumblr {
					svg {
						path {
							fill: #66d9ef;
						}
					}
					&:hover {
						svg {
							path {
								fill: #fff;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.inicio {
		.dadosIniciais {
			picture {
				img {
					width: 150px;
				}
			}
		}
	}
}

@-webkit-keyframes pisca { 
	0% {
		opacity: 1;
	} 
	50% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	} 
}