span.icon-menu {
	position: fixed;
	display: block;
	z-index: 100;
	top: 1em;
	right: 1em;
	cursor: pointer;

	svg {
		width: 30px;
		height: 30px;

		path {
			fill: #fff;
		}
	}
}

nav {
	position: fixed;
	top: 0;
	left: -70%;
	z-index: 90;
	background: @bgMenuColor;
	width: 70%;
	min-height: 100%;
	height: 100%;
	box-shadow: 0 0 10px #000;
	transition: all .4s;

	&.mostraMenu {
		left: 0;
	}

	> span {
		display: block;
		color: @txtMenuColor;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-shadow: 1px 1px 2px #f1f1f1;
		margin: 2em 0 0 2em;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 2em;
		overflow: hidden;

		li {
			a {
				width: 100%;
				color: @bgColor;
				display: block;
				text-decoration: none;
				margin-bottom: .5em;
				padding: .5em 0;
				text-align: left;

				svg {
					path {
						fill: #444;
						transition: all .4s;
					}
				}
				&:hover {
					svg {
						path {
							fill: @iconMenuColor;
						}
					}
				}
				&.blog,
				&.canal {
					font-weight: bold;
					padding: 1em 0;
					border-top: 1px solid @bgColor;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	span.icon-menu {
		display: none;
	}
	nav {
		width: 250px;
		left: 0;
		z-index: auto;
	}
	.fullContainer {
		width: calc(~"100% - 250px");
		margin-left: 250px;
	}
}