.portfolio {
	h3 {
		color: @titleColor;
	}
	.online {
		overflow: hidden;
		margin-bottom: 70px;

		.containerOnline {
			width: 100%;
			margin-bottom: 30px;

			.icon {
				display: block;
				font-size: 6em;

				&.corzinhando {
					color: #969f3c;
				}
				&.camila {
					color: #e9c31e;
				}
			}
			h2 {
				margin: 0 0 10px 0;
				color: @subTitleColor;
			}
			a {
				display: block;
				margin: 20px 20% 0;
				width: 60%;
				border: 1px solid #222;
				background: #000;
				color: @txtDefaultColor;
				padding: 15px 0;
				text-decoration: none;
				transition: all .4s;

				&:hover {
					border-color: #000;
				}
				&.corzinhando {
					&:hover {
						background: #969f3c;
					}
				}
				&.camila {
					&:hover {
						background: #e9c31e;
					}
				}
			}
		}
		@media (min-width: 600px) {
			.containerOnline {
				width: 46%;
				margin: 0 2% 30px;
				float: left;
			}
		}
	}
	picture {
		img {
			width: calc(~"100% - 50px");
			max-width: 500px;
			margin: 0 25px;
		}
	}
}