.portfolio {
	h2,
	h3 {
		svg {
			width: 20px;
			height: 20px;

			path {
				fill: @iconMenuColor;
			}
		}
	}
	h3 {
		svg {
			path {
				fill: #fff;
			}
		}
	}
	.online {
		overflow: hidden;
		margin-bottom: 70px;

		.containerOnline {
			width: 100%;
			margin-bottom: 30px;

			> img {
				border: 1px solid @txtDefaultColor;
			}
			h3 {
				a.freeCodeCamp {
					display: inline;
					color: @linkColor;
					text-decoration: none;
				}
			}
			a.btnVisitar {
				display: block;
				margin: 20px 20% 0;
				width: 60%;
				border: 1px solid #222;
				background: #000;
				color: @txtDefaultColor;
				padding: 15px 0;
				text-decoration: none;
				transition: all .4s;

				&:hover {
					background-color: @linkColor;
				}
			}
		}
		@media (min-width: 650px) {
			.containerOnline {
				width: 46%;
				margin: 0 2% 30px;
				float: left;
			}
		}
	}
}