.portfolio {
	picture {
		img {
			width: calc(~"100% - 50px");
			max-width: 500px;
			margin: 0 25px;
		}
	}
	hr {
		border-style: none;
		height: 1px;
		background: #222;
		display: block;
		margin: 30px 0;
	}
}