html,
body {
	margin: 0;
	background: @bgColor;
	color: @txtDefaultColor;
	font-family: "Courier New", Courier, monospace;
	height: 100%;
	text-align: center;
}

.fullContainer {
	width: 100%;
	overflow: hidden;

	+ .fullContainer {
		margin-bottom: 50px;
	}

	@media (min-width: 500px) {
		+ .fullContainer {
			margin-bottom: 100px;
		}
	}

	@media (min-width: 1000px) {
		+ .fullContainer {
			margin-bottom: 200px;
		}
	}

	> .container {
		max-width: 700px;
		margin: 0 auto;

		hr.separaContainers {
			border-style: none;
			height: 1px;
			background: #222;
			display: block;
			margin: 30px 0;
		}

		> .content {
			width: calc(~"100% - 40px");
			padding: 0 20px;

			> h2 {
				margin: 30px 0;

				> span {
					color: @iconColor;
				}
			}
		}
	}
}