html,
body {
	margin: 0;
	background: @bgColor;
	color: @txtDefaultColor;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fullContainer {
	width: 100%;
	min-width: 100%;

	> .container {
		max-width: 1200px;
		margin: 0 auto;

		> .content {
			width: 100%;
			min-width: 100%;
			padding: 0 20px;
		}
	}
}