html,
body {
	margin: 0;
	background: @bgColor;
	color: @txtDefaultColor;
	font-family: Courier, Monaco, monospace;;
	height: 100%;
}

.fullContainer {
	width: 100%;

	> .container {
		max-width: 1200px;
		margin: 0 auto;

		> .content {
			width: calc(~"100% - 40px");
			padding: 0 20px;
		}
	}
}